@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans); */
   --font-sans: var(--font-open-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-libre);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.vfrc-launcher img {
  width: 55px;
  height: 60px;
}

.libre {
  font-family: var(--font-libre);
}

p:empty {
    display: block;
    height: 20px;
}

.services-details-content h3, .blog-details h3{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0D2D63;
    line-height: 40px;
    margin-top: 30px;
    font-family: 'Libre Baskerville', 'Libre Baskerville Fallback';
}
.services-details-content ul {
    list-style: disc;
    padding-left: 20px;
}
.services-details-content ul li {
    line-height: 28px;
    margin-bottom: 10px;
    text-align: left;
}
.services-details-content p{
  line-height: 28px;
}

@media(max-width:767px){
  .services-details-content h3{
  font-size: 22px;
  line-height: 37px;
  }
}

/* .slick-prev:before,
.slick-next:before {
  color: black; 
  font-size: 30px;
  opacity: 1;
}
.slick-prev {
  left: -25px !important;
  z-index: 10;
}
.slick-next {
  right: -25px !important;
  z-index: 10;
} */

